@model Fiap07.WEB.MVC.Models.Imovel

@{
    ViewBag.Title = "Cadastar";
}

<h2>Cadastar Imovel</h2>

@Ajudante.Mensagem(TempData["msg"])

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(i => i.Endereco)
        @Html.TextBoxFor(i => i.Endereco, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.Valor)
        @Html.TextBoxFor(i => i.Valor, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.Categoria)
        @Html.DropDownListFor(i => i.CategoriaId, ViewBag.categorias as SelectList, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(i => i.Escritura.Proprietario)
        @Html.TextBoxFor(i => i.Escritura.Proprietario, new { @class = "form-COntrol" })
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.Escritura.NumeroCartorio)
        @Html.TextBoxFor(i => i.Escritura.NumeroCartorio, new { @class = "form-COntrol" })
    </div>
    @Ajudante.Botao("Cadastrar")
}
