@model List<Fiap.NAC.Correcao.Models.Venda>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

@using (Html.BeginForm("Buscar", "Venda", FormMethod.Get))
{
    @Html.CheckBox("Pago")
    @Html.Label("Pago")
    <input type="submit" value="Buscar" class="btn btn-primary" />
}
<br />
<table class="table">
    <tr>
        <th>Cliente</th>
        <th>Data</th>
        <th>Valor</th>
        <th>Pago</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Cliente</td>
            <td>@item.Data.ToShortDateString()</td>
            <td>@item.Valor</td>
            <td>@(item.Pago?"Sim":"Não")</td>
            <td>
                <!-- Button trigger modal -->
                <button @(item.Pago?"disabled":"") onclick="codigo.value = @item.VendaId" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Pagar
                </button>
            </td>
        </tr>
    }
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
            </div>
            <div class="modal-body">
                Tem certeza da ação?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Pagar","Venda"))
                {
                    <input type="hidden" id="codigo" name="codigo"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                }
            </div>
        </div>
    </div>
</div>

